* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generici */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* corpo */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: 
    linear-gradient(to bottom,
      #249688 0px,
      #249688 15vh,
      #DADBD4 15vh,
      #DADBD4 100vh);
  font-family: 'Lato', sans-serif;
}

.container {
  width: 80%;
  min-width: 900px;
  height: 95%;
  background-color: #FFFFFF;
}

.container .left,
.container .right {
  float: left;
  height: 100%;
}

.container .left {
  width: 35%;
}

.container .right {
  width: 65%;
}

/* sezione contatti (sx) */

.container .left header {
  height: 140px;
  background-color: firebrick;
}

.container .left header .top-header,
.container .left header .bottom-header {
  width: 100%;
  height: 70px;
}

.container .left footer {
  height: calc(100% - 140px);
}

/* header contatti */

.container .left header .top-header {
  padding: 10px;
  background-color: #EAEAEA;
}

.container .left header .top-header-profile {
  display: flex;
  align-items: center;
  width: 70%;
}

.container .left header .top-header-profile img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
}

.container .left header .top-header-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: 100%;
  font-size: 20px;
  color: #B1B1B1;
}

.container .left header .top-header-icons i {
  cursor: pointer;
  margin-left: 20px;
}

.container .left header .bottom-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #8EDAFC;
}

.container .left header .bottom-header-text span a {
  font-size: 12px;
  color: #4F7485;
}

.container .left header .bottom-header-icon i {
  background-color: #F2FBFF;
  color: #8EDAFC;
  padding: 12px 10px;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 10px;
}

.container .left section {
  height: calc(100% - 140px);
}

/* lista contatti e ricerca */

.container .left section .contact-searchbar {
  width: 100%;
  height: 50px;
  background: #FAFAFA;
}

.container .left section .contact-searchbar .contact-searchbar-input {
  float: right;
  width: calc(85% - 7px);
  height: 36px;
  margin: 7px 7px 7px 0;
  padding: 0 10px;
  border: 1px solid #F5F5F5;
  border-left: 0;
  border-radius: 0px 3px 3px 0;
  color: #B6B9BB;
}

.container .left section .contact-searchbar .search-label {
  display: inline-block;
  width: calc(15% - 7px);
  height: 36px;
  margin: 7px 0 7px 7px;
  border: 1px solid #F5F5F5;
  border-right: 0;
  background: #FFFFFF;
  line-height: 36px;
  text-align: center;
  color: #B6B9BB;
}

.container .left section .contacts-list {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.container .left section .contacts-list .contact {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100px;
  padding: 12px;
  border-bottom: 1px solid #F5F5F5;
}

.container .left section .contacts-list .contact img {
  border-radius: 50%;
  height: 60px;
  margin-right: 20px;
}

.container .left section .contacts-list .contact .name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container .left section .contacts-list .contact .name-date .name-message span {
  font-size: 12px;
}

.container .left section .contacts-list .contact .name-date .time {
  font-size: 10px;
  max-width: 60px;
  margin-left: 10px;
}

/* chat (dx) */

.container .right {
  position: relative;
}

/* chat header */

.container .right .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  padding: 10px;
}

.container .right .chat-header-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding: 10px;
}

.container .right .chat-header-profile img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
}

.container .right .chat-header-profile .chat-name-time h4 {
  margin-bottom: 5px;
}

.container .right .chat-header-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 20%;
  font-size: 20px;
  padding: 10px;
  color: #B1B1B1;
}

.container .right .chat-header-icons i {
  cursor: pointer;
  margin-left: 20px;
}

/* chat */

.container .right .chat-messages {
  height: calc(100% - 140px);
  width: 100%;
  padding: 5% 10%;
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
}


.container .right .chat-messages .message {
  position: relative;
  margin: 5px 0;
  padding: 15px 15px 20px 15px;
  min-width: 40%;
  max-width: 60%;
  background: #FFFFFF;
  border-radius: 10px;
  font-size: 15px;
  word-wrap: break-word;
}

.container .right .chat-messages .message::after {
  content: '';
  display: table;
  overflow: hidden;
  clear: both;
}

.container .right .chat-messages .message:hover .message-options,
.container .right .chat-messages .message .message-options.active {
  display: block;
}

.container .right .chat-messages .message .message-options {
  display: none;
  color: #B6B9BB;
  cursor: pointer;
}

.container .right .chat-messages .message .message-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: #B6B9BB;
}

.container .right .chat-messages .message.received {
  background: white;
  float: left;
  clear: both;
}

.container .right .chat-messages .message.sent {
  background: #D5F9BA;
  float: right;
  clear: both;
}

.container .right .chat-footer {
  background-color: #F3EEEA;
  width: 100%;
  height: 70px;
}

.container .right .chat-footer .new-message-inputs {
  width: 80%;
  height: 50px;
  margin: 10px 0;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: lighter;
}

.container .right .chat-footer .chat-footer-icon {
  width: 10%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  color: #6B7376;
}